// .form-control {
// 	width: 550px;
// 	height: 546px;
// 	border: 3px solid #212529;
// 	border-radius: 5px;
// }

.ple-div {
	.form-control {
		width: 550px;
		height: 546px;
		border: 3px solid #212529;
		border-radius: 5px;
	}
}
